    /* you can style your program here */

    .content {
        font-size:22px;
    }
    a {
      color: black;
      text-decoration: none;
    }
    .known {
      color: blue !important;
      font-weight:bold;
    }
    .learnable {
      color: red;
      font-weight:bold;
      cursor: pointer;
    }

    #drawer {
      position: fixed;
      top: 0;
      left: 69%;
      height: 100%;
      width: 300px;
      background: #efefef;
      overflow-x: hidden;
      overflow-y: scroll;
      padding: 20px;
    }

    #drawer p {
      margin: 0;
    }

    #drawer-root {
      font-size: 35px;
      text-align: center;
    }

    #active-word {
      text-align:center;
    }

    #drawer-word {
      font-size: 30px;
    }

    #drawer-translation {

    }

    .other-words{
      display: flex;
      justify-content: space-between;
    }

    label, input {
      cursor: pointer;
    }

